jupyter
llama-cpp-python
langchain
langchain-experimental
huggingface-cli
ollama
pypdf
sentence-transformers
chromadb
llama-index
llama-index-llms-ollama
llama-index-llms-huggingface
ctransformers
bitsandbytes
accelerate
langchainhub
tavily-python
gpt4all
langgraph
langchain-groq