jupyter
ollama
openai
llama-index
llama-index-llms-huggingface
pypdf2
chromadb
transformers
bitsandbytes
accelerate
tavily-python
gpt4all
matplotlib
unstructured[md]
scikit-learn
plotly
pydantic
ddgs
langchain
langchain-community