jupyter
langchain
langchain-experimental
langchain-ollama
langchain-openai
ollama
pypdf
sentence-transformers
chromadb
llama-index
llama-index-llms-ollama
llama-index-llms-huggingface
transformers
bitsandbytes
accelerate
langchainhub
tavily-python
gpt4all
langgraph
langchain-groq
matplotlib
unstructured[md]